doctype html
html(lang="ko")
    head
        title api test
        meta(charset='utf-8')
        script(src='/js/test.js' defer)
        script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js')

    body
        form(action="./start" method="post")
            table(border='1px solid black')
                tr
                    th gameNumber 
                    td
                        input(id='gameNumber' type='text' name='gameNumber')
                tr
                    th timerCnt 
                    td
                        input(id='timerCnt' type='text' name='timerCnt')
                tr       
                    th blindSmall 
                    td
                        input(id='blindSmall' type='text' name='blindSmall')
                tr
                    th blindBig 
                    td
                        input(id='blindBig' type='text' name='blindBig')
                tr
                    th playerCount
                    td
                        input(id='playerCount' type='text' name='playerCount')
                tr
                    th category 
                    td
                        input(id='category' type='text' name='category')
                tr
                    th gameEditBlind 
                    td
                        input(id='gameEditBlind' type='text' name='gameEditBlind')
                tr
                    th gameEditTimer 
                    td
                        input(id='gameEditTimer' type='text' name='gameEditTimer')
                tr
                    th gameEditPlayer 
                    td
                        input(id='gameEditPlayer' type='text' name='gameEditPlayer')
            button(submit) button
            // p(id='button') button
